.basket .header p{
    font-size: 16px;
    font-weight: 600;
}
.basket .Button button{
    gap: 6px;
    border: none;
    padding: 8px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}