.dashbordHeader{
    background: rgba(217, 217, 217, 0.3);
}
.dashbordHeader .name .title p{
    font-size: 19px;
    color: #356DFA;
}
.dashbordHeader .phone p{
    font-size: 14px;
}

.dashbordNav{
    background: rgba(217, 217, 217, 0.3);
}
.dashbordNav .item p{
    font-size: 14px;
}
.dashbordNav .item.active p{
    position: relative;
    font-weight: 600;
}
.dashbordNav .item.active p::after{
    position: absolute;
    content: "";
    height: 2px;
    background: black;
    border-radius: 10px;
    bottom: -8px;
    width: 100%;
    left: 0;
}
.ordersListWrapper{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 10px;
    width: max-content;
    margin: 0 auto;
}
.ordersListWrapper .item{
    width: 100px;
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
}
.ordersListWrapper .item img{
    object-fit: cover;
    width: 100%;
}