.footer{
    filter: drop-shadow(0px -3px 13.3px rgba(0, 0, 0, 0.15));
}
.footer .items{
    width: 70%;
    margin: 0 auto;
}
.footer .items .item .title p{
    font-size: 12px;
    font-weight: 600;
}



.webFooter button{
    background: black;
    color: white;
    padding: 7px 12px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 10px;
    border: none;
    gap: 4px;
}
.webFooter .formGroup input{
    border: none;
    background: #D9D9D9;
    text-align: right;
    color: black;
    font-size: 12px;
    padding: 6px 10px;
    width: 190px;
}
.webFooter .formGroup input::placeholder{
    color: #868686;
}
.webFooter .center{
    margin-left: -250px;
}
.webFooter .center .title{
    font-weight: 600;
    font-size: 14px;
}
.webFooter .center .desc{
    font-weight: 600;
    color: #767676;
    font-size: 14px;
    margin-top: 5px;
}