<div class="singleShop">
    <div class="image">
        <img src="../../../assets/images/singleshopimage.png" alt="" />
    </div>
    <div class="desc bg-white py-4">
        <div class="container text-end d-flex flex-column gap-4">
            <div class="header">
                <div class="title">
                    <p>
                        تیشرت مشکی آستین کوتاه ساده  
                    </p>
                </div>
                <div class="breadCrump">
                    <p>
                        مد و پوشاک / مردانه / اسپرت
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 size d-flex align-items-center justify-content-between flex-row-reverse">
                    <p class="sizeTitle mb-0">
                        سایز:
                    </p>
                    <div class="items d-flex align-items-center gap-2">
                        <div class="item d-flex align-items-center justify-content-center">
                            <span>
                                s
                            </span>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center">
                            <span>
                                s
                            </span>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center active">
                            <span>
                                s
                            </span>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center">
                            <span>
                                s
                            </span>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center">
                            <span>
                                s
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است. 
                </p>
            </div>
            <div class="intro">
                <p class="title">
                    مشخصات محصول
                </p>
                <div class="items d-flex flex-column gap-1">
                    <div class="item d-flex flex-row-reverse justify-content-between p-2">
                        <p class="mb-0">
                            آستین 
                        </p>
                        <span class="mb-0">
                            کوتاه
                        </span>
                    </div>
                    <div class="item d-flex flex-row-reverse justify-content-between p-2">
                        <p class="mb-0">
                            طرح پارچه 
                        </p>
                        <span class="mb-0">
                            ساده
                        </span>
                    </div>
                    <div class="item d-flex flex-row-reverse justify-content-between p-2">
                        <p class="mb-0">
                            کشور تولید کننده 
                        </p>
                        <span class="mb-0">
                            ایران
                        </span>
                    </div>
                    <div class="item d-flex flex-row-reverse justify-content-between p-2">
                        <p class="mb-0">
                            مناسب استفاده 
                        </p>
                        <span class="mb-0">
                            روزمره،اسپرت
                        </span>
                    </div>
                </div>
            </div>
            <div class="addToBasket d-flex align-items-center justify-content-between mt-4 bg-black">
                <p class="price text-white mb-0">
                    ۴۵۰،۰۰۰ <span>تومان</span>
                </p>
                <button class="bg-white border-none text-black px-3 py-2">
                    افزودن به سبد خرید
                </button>
            </div>
        </div>
    </div>
</div>