.singleShop{
    margin-bottom: 100px;
}
.singleShop .image{
    width: 100%;
    max-height: 460px;
    overflow: hidden;
}
.singleShop .image .arrow{
    top: 10px;
    left: 10px;
}
.singleShop .image img{
    object-fit: cover;
    width: 100%;
}
.singleShop .desc{
    border-radius: 30px;
    position: relative;
    margin-top: -50px;
}
.sizeTitle{
    font-size: 16px;
    direction: rtl;
}
.singleShop .desc .header .title p{
    font-size: 20px;
    font-weight: 600;
}
.singleShop .desc .header .breadCrump p{
    font-size: 11px;
    font-weight: 400;
}
.size .item{
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    font-size: 12px;
}
.size .item.active{
    background: black;
    border: 1px solid black;
    color: white;
}
.singleShop .description p{
    direction: rtl;
    font-size: 14px;
    line-height: 134.5%;
    color: rgba(0, 0, 0, 0.6);
}
.singleShop .intro .title{
    font-size: 18px;   
}
.singleShop .intro .items .item{
    background: rgba(12, 21, 36, 0.05);
    font-size: 12px;
}
.singleShop .addToBasket{
    border-radius: 12px;
    padding: 7px;
}
.singleShop .addToBasket button{
    border-radius: 10px;
    border: none;
    font-size: 14px;
}
.singleShop .addToBasket .price{
    direction: rtl;
}

@media only screen and (min-width:768px){
    .webShop .images{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .webShop .images .largeImage{
        max-width: 480px;
        overflow: hidden;
        border-radius: 5px;
        max-height: 500px;
    }
    .webShop .images .largeImage img{
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
    }
    .webShop .images .smallImages{
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
    }
    .webShop .images .smallImages .item{
        max-width: 153px;
        overflow: hidden;
        border-radius: 5px;
        max-height: 170px;
    }
    .webShop .images .smallImages .item img{
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
    }
    .webShop .desc .title{
        font-weight: 600;
        font-size: 34px;
    }
    .webShop .desc .price{
        font-weight: 800;
        color: #676767;
        font-size: 34px;
    }
    .webShop .sizeTitle{
        font-size: 24px;
    }
    .webShop .colorTitle{
        font-size: 24px;
    }
    .webShop .size .item{
        width: 32px;
        height: 32px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        color: white;
        font-size: 20px;
    }
    .webShop .size .item.notActive{
        background: #C9C9C9;
    }
    .webShop .color .item{
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        align-items: center;
    }
    .webShop .color .item p{
        font-size: 12px;
    }
    .webShop .color .colorWrapper{
        width: 32px;
        height: 32px;
        border: 1px solid black;
    }
    .webShop .addToCartButton button{
        gap: 6px;
        border: none;
        padding: 8px 20px;
        background-color: black;
        color: white;
        font-size: 16px;
        border-radius: 4px;
    }
    .webShop .intro{
        max-width: 600px;
    }
    .webShop .intro .navBar{
        border-bottom: 1px solid #AEAEAE;
    }
    .webShop .intro .navBar .item p{
        font-size: 16px;
        font-weight: 600;
    }
    .webShop .intro .navBar .item.active p{
        position: relative;
    }
    .webShop .intro .navBar .item.active p::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background: black;
        border-radius: 10px;
        left: 0;
        bottom: -3px;
    }
    .webShop .intro .description p{
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
    }
    .webShop .images .points .item p{
        font-size: 14px;
        font-weight: 600;
    }
}