<app-slider [slides]="slides"></app-slider>
<div class="shop container my-4 mb-5 pb-4">
    <div class="shopBanner mb-4">
        <div class="image">
            <img src="../../assets/images/archivebanner.png" alt="" />
        </div>
    </div>
    <div class="shopArchive">
        <div class="header mb-4 d-flex flex-row-reverse justify-content-between">
            <div class="title">
                <p class="mb-0">
                    لوازم و تحریر 
                </p>
            </div>
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="259" height="2" viewBox="0 0 259 2" fill="none">
                    <path d="M1 1H258" stroke="url(#paint0_linear_2519_9705)" stroke-width="2" stroke-linecap="round"/>
                    <defs>
                    <linearGradient id="paint0_linear_2519_9705" x1="115.175" y1="1" x2="115.175" y2="2.0004" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white"/>
                    <stop offset="1" stop-color="#999999" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3125 1.5C1.00184 1.5 0.75 1.75184 0.75 2.0625C0.75 2.37316 1.00184 2.625 1.3125 2.625H2.01015C2.09952 2.625 2.17648 2.68809 2.19401 2.77573L3.82784 10.9449C3.95054 11.5584 4.48921 12 5.11485 12H14.0165C14.6371 12 15.1729 11.5652 15.3008 10.9579L16.485 5.33289C16.6568 4.51711 16.0343 3.75 15.2007 3.75H3.53614L3.29716 2.5551C3.17446 1.9416 2.63579 1.5 2.01015 1.5H1.3125Z" fill="#C9C9C9"/>
                    <path d="M6 12.75C5.17157 12.75 4.5 13.4216 4.5 14.25C4.5 15.0784 5.17157 15.75 6 15.75C6.82843 15.75 7.5 15.0784 7.5 14.25C7.5 13.4216 6.82843 12.75 6 12.75Z" fill="#C9C9C9"/>
                    <path d="M12.75 12.75C11.9216 12.75 11.25 13.4216 11.25 14.25C11.25 15.0784 11.9216 15.75 12.75 15.75C13.5784 15.75 14.25 15.0784 14.25 14.25C14.25 13.4216 13.5784 12.75 12.75 12.75Z" fill="#C9C9C9"/>
                </svg>
            </div>
        </div>
        <div class="items">
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
        </div>
    </div>
</div>