.shopBanner .image{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}
.shopBanner .image img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.shopArchive .header .title{
    font-size: 10px;
    padding: 3px 6px;
    border: 1px solid #C9C9C9;
    border-radius: 8px;
}
.shopArchive .items{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 20px;
    margin: 0 auto;
    direction: rtl;
}
.shopItemContainer{
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width:768px){
    .shopArchive .items{
        grid-template-columns: repeat(8,minmax(0,1fr));
    }
}