/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Yekan Bakh";
    src: url("../src/assets/fonts/YekanBakh-Regular.woff2");
}


/* color variables */
:root{
  --bluePrimary: #0044B4;
}



*{
    font-family: "Yekan Bakh";
}

html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}







