/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Yekan Bakh";
    src: url("../src/assets/fonts/YekanBakh-Regular.woff2");
}


/* color variables */
:root{
  --bluePrimary: #0044B4;
}



*{
    font-family: "Yekan Bakh";
}

html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}






.slick-dots{
  bottom: 5px;
}

.slick-dots li button::before{
  color: white !important;
  opacity: 0.4 !important;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li{
  width: 10px;
  height: 10px;
}
.slick-dots li button{
  width: 8px;
  height: 8px;
}
.slick-dots li.slick-active button::before{
  color: white !important;
  opacity: 0.7 !important;
  width: 14px;
  height: 8px;
  border-radius: 8px 3px 11px 8px;
}
p{
  direction: rtl;
}