<!-- <div class="homeBanner">
    <div class="row">
        <div class="col-12">
            <img class="col-12" src="../../assets/images/banner.png" alt="banner" />
        </div>
    </div>
</div> -->

<ng-container *ngIf="isMobile">
    <app-slider [slides]="slides"></app-slider>

    <div class="category container-lg mt-5">
        <div class="title">
            <p class="text-center">
                خرید بر اساس دسته بندی
            </p>
        </div>
        <div class="categoryItems row d-flex align-items-center justify-content-center">
            <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/bookcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        کتاب
                    </p>
                </div>
            </div>
            <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/assetcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        لوازم و تحریر
                    </p>
                </div>
            </div>
            <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/clothcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        لباس و پوشاک
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="homeSlider container mx-auto text-start mt-5">
      <div class="text-right"> 
        <div class="header">
            <p class="title text-end">
                لباس و اکسسوری
            </p>
        </div>
      </div>
      <div class="row d-flex items">
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
      </div>
    </div>
    
    
    
    <div class="homeSlider container text-start mt-5">
        <div class="text-right"> 
            <div class="header">
                <p class="title text-end">
                    لوازم و تحریر
                </p>
            </div>
        </div>
      <div class="row d-flex items">
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
        <app-shop-item class="shopItemContainer" />
      </div>
    </div>
    
    
    
    <div class="homeBanners">
        <div class="homeBanner container mt-5">
            <div class="image">
                <img src="../../assets/images/homebanner1.png" alt="" />
            </div>
        </div>
        <div class="homeBanner container mt-2 mb-5">
            <div class="image">
                <img src="../../assets/images/homebanner1.png" alt="" />
            </div>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="!isMobile">
    <div class="container">
        <app-slider [slides]="slides"></app-slider>
    </div>




    <div class="category webHeader container-lg mt-5">
        <div class="title d-flex justify-content-center align-items-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="457" height="2" viewBox="0 0 457 2" fill="none">
                <path d="M457 1H0" stroke="#E1E1E1"/>
            </svg>
            <p class="text-center mb-0">
                خرید بر اساس دسته بندی
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="457" height="2" viewBox="0 0 457 2" fill="none">
                <path d="M457 1H0" stroke="#E1E1E1"/>
            </svg>
        </div>
        <div class="categoryItems row d-flex align-items-center justify-content-center">
            <div class="item col-2 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/bookcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        کتاب
                    </p>
                </div>
            </div>
            <div class="item col-2 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/assetcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        لوازم و تحریر
                    </p>
                </div>
            </div>
            <div class="item col-2 d-flex flex-column gap-2 align-items-center justify-content-center">
                <div class="image">
                    <img src="../../assets/images/clothcategory.png" alt="image" />
                </div>
                <div class="desc">
                    <p>
                        لباس و پوشاک
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="homeSlider webHeader container mx-auto text-start my-5">
        <div class="title d-flex justify-content-center align-items-center mb-4">
            <div class="row d-flex justify-content-center align-items-center">
                <svg class="col-5" xmlns="http://www.w3.org/2000/svg" width="457" height="2" viewBox="0 0 457 2" fill="none">
                    <path d="M457 1H0" stroke="#E1E1E1"/>
                </svg>
                <p class="text-center col-2 mb-0">
                    محصولات جدید 
                </p>
                <svg class="col-5" xmlns="http://www.w3.org/2000/svg" width="457" height="2" viewBox="0 0 457 2" fill="none">
                    <path d="M457 1H0" stroke="#E1E1E1"/>
                </svg>
            </div>
        </div>
        <div class="row d-flex items">
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <app-shop-item class="shopItemContainer" />
          <div class="arrow d-flex justify-content-center align-items-center flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM10.4697 15.7803L7.21967 12.5303C6.92678 12.2374 6.92678 11.7626 7.21967 11.4697L10.4697 8.21967C10.7626 7.92678 11.2374 7.92678 11.5303 8.21967C11.8232 8.51256 11.8232 8.98744 11.5303 9.28033L9.56066 11.25H16.25C16.6642 11.25 17 11.5858 17 12C17 12.4142 16.6642 12.75 16.25 12.75H9.56066L11.5303 14.7197C11.8232 15.0126 11.8232 15.4874 11.5303 15.7803C11.2374 16.0732 10.7626 16.0732 10.4697 15.7803Z" fill="black"/>
            </svg>
            <p>
                بیشتر
            </p>
          </div>
        </div>
        <div class="row d-flex items mt-4">
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <app-shop-item class="shopItemContainer" />
            <div class="arrow d-flex justify-content-center align-items-center flex-column">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM10.4697 15.7803L7.21967 12.5303C6.92678 12.2374 6.92678 11.7626 7.21967 11.4697L10.4697 8.21967C10.7626 7.92678 11.2374 7.92678 11.5303 8.21967C11.8232 8.51256 11.8232 8.98744 11.5303 9.28033L9.56066 11.25H16.25C16.6642 11.25 17 11.5858 17 12C17 12.4142 16.6642 12.75 16.25 12.75H9.56066L11.5303 14.7197C11.8232 15.0126 11.8232 15.4874 11.5303 15.7803C11.2374 16.0732 10.7626 16.0732 10.4697 15.7803Z" fill="black"/>
              </svg>
              <p>
                  بیشتر
              </p>
            </div>
          </div>
      </div>


      
</ng-container>