<!-- <div class="homeBanner">
    <div class="row">
        <div class="col-12">
            <img class="col-12" src="../../assets/images/banner.png" alt="banner" />
        </div>
    </div>
</div> -->


<app-slider [slides]="slides"></app-slider>

<div class="category container-lg mt-5">
    <div class="title">
        <p class="text-center">
            خرید بر اساس دسته بندی
        </p>
    </div>
    <div class="categoryItems row d-flex align-items-center justify-content-center">
        <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
            <div class="image">
                <img src="../../assets/images/bookcategory.png" alt="image" />
            </div>
            <div class="desc">
                <p>
                    کتاب
                </p>
            </div>
        </div>
        <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
            <div class="image">
                <img src="../../assets/images/assetcategory.png" alt="image" />
            </div>
            <div class="desc">
                <p>
                    لوازم و تحریر
                </p>
            </div>
        </div>
        <div class="item col-4 d-flex flex-column gap-2 align-items-center justify-content-center">
            <div class="image">
                <img src="../../assets/images/clothcategory.png" alt="image" />
            </div>
            <div class="desc">
                <p>
                    لباس و پوشاک
                </p>
            </div>
        </div>
    </div>
</div>



<div class="homeSlider container mx-auto text-start mt-5">
  <div class="text-right"> 
    <div class="header">
        <p class="title text-end">
            لباس و اکسسوری
        </p>
    </div>
  </div>
  <div class="row d-flex items">
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
  </div>
</div>



<div class="homeSlider container text-start mt-5">
    <div class="text-right"> 
        <div class="header">
            <p class="title text-end">
                لوازم و تحریر
            </p>
        </div>
    </div>
  <div class="row d-flex items">
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
    <app-shop-item class="shopItemContainer" />
  </div>
</div>



<div class="homeBanners">
    <div class="homeBanner container mt-5">
        <div class="image">
            <img src="../../assets/images/homebanner1.png" alt="" />
        </div>
    </div>
    <div class="homeBanner container mt-2 mb-5">
        <div class="image">
            <img src="../../assets/images/homebanner1.png" alt="" />
        </div>
    </div>
</div>