.shopItemContainer{
    width: 95px;
}

.homeSlider .items{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    direction: rtl; /* Set direction to left-to-right */
    padding-left: 20px;
}
.homeSlider .items::-webkit-scrollbar{
    display: none;
}
.homeBanner .image{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}
.homeBanner .image img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.homeSlider .header .title{
    font-size: 11px;
    font-weight: 600;
}
.homeBanners{
    margin-bottom: 90px;
}
.category .title p{
    font-weight: 600;
}




/* styles for website device  */
.webHeader .title{
    gap: 12px;
}
.webHeader .title p{
    position: relative;
    font-weight: 800;
    white-space: nowrap;
}
@media only screen and (min-width:768px){
    .homeSlider .items{
        justify-content: center;
        padding-left: 0;
    }
}
.homeSlider .items .arrow{
    width: 80px;
}
.homeSlider .items .arrow p{
    font-size: 11px;
}